<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GeneticAlgo.Properties.Settings.GA_DBConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=GA_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>